ALLOWED_ORIGINS=
CACHE_COLLECTION_NAME
CHUNK_COLLECTION_NAME
DEFAULT_REQUEST_LIMIT
EMBEDDING_SIZE
GOOGLE_AI_API_KEY
JINA_AI_API_KEY
JWT_ALGORITHM
JWT_SECRET
LIMIT_REACH_MESSAGE
QDRANT_API_KEY
QDRANT_ENDPOINT
SUPABASE_HOST
SUPABASE_SERVICE_KEY